<!doctype html>
<title>All Lists</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>X-Wing Concoction</h1>
  <div class="metanav">
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message.decode('utf-8') }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>